<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="UTF-8">
  <title>查看日志</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body style="height: 100%">
<div id="app" class="container-fluid" style="height: 100%">
  <div class="row" style="padding: 8px">
    <div class="col-sm">
      <input type="text" class="form-control" v-model="path" aria-describedby="basic-addon1">
    </div>
    <div class="col-sm">
      <button v-if="!ifConnect" type="button" class="btn btn-primary" v-on:click="connect">connect</button>
      <button v-else type="button" class="btn btn-primary" v-on:click="disconnect">disconnect</button>
      <button type="button" class="btn btn-primary" v-on:click="clear">clear</button>
      <button type="button" class="btn btn-primary" v-on:click="scrollToButtom">scrollToButtom</button>
      <button type="button" class="btn btn-primary" v-on:click="scrollToTop">scrollToTop</button>
    </div>
  </div>
  <div class="row" style="height: 90%;">
    <textarea id="content" class="jumbotron" style="width:100%;word-wrap:" @mousewheel="mousewheel">{{content}}</textarea>
  </div>
</div>


<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
<script src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
<script type="text/javascript">
  const vm = new Vue({
    el: '#app',
    data: {
      path: '.\\logs\\slf4j\\file.log',
      ifConnect: false,
      ifScrollToButtom: true,
      content: '',
      ws: null
    },
    methods: {
      connect () {
        var cont = this.content;
        ws = new WebSocket('ws://' + window.location.host + '/logPath?path=' + encodeURI(this.path));
        ws.onopen = function () {
          this.ifConnect = true;
          console.log('Info: WebSocket connection opened.');
        };
        ws.onmessage = function (event) {
          vm.content += event.data;
          if (vm.ifScrollToButtom) {
            console.log("scrollToButtom")
            vm.scrollToButtom();
            setTimeout ("vm.scrollToButtom()","100");
          }
        };
        ws.onclose = function (e) {
          this.ifConnect = false;
          console.log('Info: WebSocket connection closed.');
        };
        this.ifConnect = true
      },
      disconnect () {
        if (ws != null) {
          ws.close();
          ws = null;
        }
        this.ifConnect = false;
      },
      clear () {
        this.content = ""
      },
      scrollToTop () {
        var textarea = $("#content");
        textarea[0].scrollTop = 0;
        this.ifScrollToButtom = false;
      },
      scrollToButtom () {
        var textarea = $("#content");
        textarea[0].scrollTop = textarea[0].scrollHeight;
        this.ifScrollToButtom = true;
      },
      mousewheel () {
        var textarea = $("#content");
        if (textarea[0].scrollTop + textarea.outerHeight() >= textarea[0].scrollHeight) {
          // 当滚动到底部，则设置自动滚动至底部
          this.ifScrollToButtom = true;
        } else {
          this.ifScrollToButtom = false;
        }
      }
    }
  })
</script>
</body>
</html>